//
// Skills
// --------------------------------------------------

.prog-bar {

	@include m-clearfix;
	height: 3rem;

	+ .prog-bar {
		margin-top: 2rem
	}

	&__text {
		width: 32%;
		height: 100%;
		float: left;
		text-align: right;
		background-image: url(../svg/svg.svg);
		background-repeat: no-repeat;
		background-position: bottom right;

    	svg {
    		height: 100%;
    		fill: #ddd
    	}
	}

	&__rating-bkgrd {
		width: 68%;
		height: 100%;
		float: left;
		position: relative;
		background-color: $light-grey-d;
		border-radius: 999px
	}

	&__rating-bar {
		@include m-stripes(2%, 6%, $dark-red, $brown);
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0; 
		width: 70%;
		border-radius: 999px;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		background-color: $light-grey-d;

	}

}

