//
// Skills
// --------------------------------------------------

.skill {

	@include m-clearfix;
	height: 10vh;

	+ .skill {
		margin-top: 10px
	}

	&__text {
		width: 32%;
		float: left;
		outline: 1px solid blue;
		text-align: right
	}

	&__rating {
		width: 68%;
		float: left;
		position: relative;
		background-color: #ccc;
		outline: 1px solid green;

	}

	&__rating-inner {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0; 
		background-color: #aaa;
		width: 70%;
		outline: 1px solid $red;
	}

}

