//
// Wrapper - wraps blocks of content
// --------------------------------------------------

.wrapper {
	display: flex;
	flex-direction: column;
	// Avoid the IE 10-11 `min-height` bug.
	height: 100vh;
}

