.testing {
  width: percentage(6/7);
}

.testing3 {
  width: percentage(5/7);
}

.testing4 {
  width: percentage(5/7);
}

header {
	height: 20vh;
	border-bottom: 1px solid #ccc
}

.logo {
	height: 100%
}

	
#bd-d {
	animation-name: move-d;
	animation-duration: 300ms;
	animation-timing-function: ease-in-out;
	animation-delay: 500ms;
	animation-fill-mode: forwards
}

@keyframes move-d {
  to {
    transform: translate(250px, 0);
  }
}

#e1_mask {
	stroke-dasharray: 283;
	stroke-dashoffset: 0;
	animation-name: dash_e1;
	animation-duration: 100ms;
	animation-timing-function: ease-in-out;
	animation-delay: 600ms;
	animation-fill-mode: forwards
}


@keyframes dash_e1 {
  to {
    stroke-dashoffset: 283;
  }
}

#c_mask {
	stroke-dasharray: 244;
	stroke-dashoffset: 0;
	animation-name: dash_c;
	animation-duration: 100ms;
	animation-timing-function: ease-in-out;
	animation-delay: 700ms;
	animation-fill-mode: forwards
}

@keyframes dash_c {
  to {
    stroke-dashoffset: 244;
  }
}

#k1_mask {
	stroke-dasharray: 121;
	stroke-dashoffset: 0;
	animation-name: dash_k1;
	animation-duration: 100ms;
	animation-timing-function: ease-in-out;
	animation-delay: 800ms;
	animation-fill-mode: forwards
}

@keyframes dash_k1 {
  to {
    stroke-dashoffset: 121;
  }
}

#k2_mask {
	stroke-dasharray: 74;
	stroke-dashoffset: 0;
	animation-name: dash_k2;
	animation-duration: 100ms;
	animation-timing-function: ease-in-out;
	animation-delay: 800ms;
	animation-fill-mode: forwards
}

@keyframes dash_k2 {
  to {
    stroke-dashoffset: 74;
  }
}

#k3_mask {
	stroke-dasharray: 74;
	stroke-dashoffset: 0;
	animation-name: dash_k3;
	animation-duration: 100ms;
	animation-timing-function: ease-in-out;
	animation-delay: 800ms;
	animation-fill-mode: forwards
}

@keyframes dash_k3 {
  to {
    stroke-dashoffset: 74;
  }
}

#a_mask {
	stroke-dasharray: 286;
	stroke-dashoffset: 0;
	animation-name: dash_a;
	animation-duration: 300ms;
	animation-timing-function: ease-in-out;
	animation-delay: 900ms;
	animation-fill-mode: forwards
}

@keyframes dash_a {
  to {
    stroke-dashoffset: 286;
  }
}

#v_mask {
	stroke-dasharray: 236;
	stroke-dashoffset: 0;
	animation-name: dash_v;
	animation-duration: 300ms;
	animation-timing-function: ease-in-out;
	animation-delay: 900ms;
	animation-fill-mode: forwards
}

@keyframes dash_v {
  to {
    stroke-dashoffset: 236;
  }
}

#i1_mask {
	stroke-dasharray: 107;
	stroke-dashoffset: 0;
	animation-name: dash_i1;
	animation-duration: 300ms;
	animation-timing-function: ease-in-out;
	animation-delay: 900ms;
	animation-fill-mode: forwards
}

@keyframes dash_i1 {
  to {
    stroke-dashoffset: 107;
  }
}

#e2_mask {
	stroke-dasharray: 283;
	stroke-dashoffset: 0;
	animation-name: dash_e2;
	animation-duration: 300ms;
	animation-timing-function: ease-in-out;
	animation-delay: 900ms;
	animation-fill-mode: forwards
}

@keyframes dash_e2 {
  to {
    stroke-dashoffset: 283;
  }
}


#s_mask {
	stroke-dasharray: 313;
	stroke-dashoffset: 0;
	stroke-dasharray: 283;
	stroke-dashoffset: 0;
	animation-name: dash_s;
	animation-duration: 300ms;
	animation-timing-function: ease-in-out;
	animation-delay: 900ms;
	animation-fill-mode: forwards
}

@keyframes dash_s {
  to {
    stroke-dashoffset: 313;
  }
}

